In [16]:
#slice
#slice can't use in set{}
#list - collection of data
#it is ordered , mutable , heterogenous
#positive indexing - it start with 0
#negative indexing - it is a reverse order and start
list1=["chachu","vichu",24,89,67.00,"True","False"]
print(list1[:2:-2]) #[start:stop:step]

['False', 67.0]

In [17]:
#List methods
#append,extend,copy,insert,pop,remove,reverse,sort,inverse,len,count
#append - add the value at the end of the list
#insert - you can add the element at any position
#extent - it can ensure to combine the list
#pop - remove the value based on index
#remove - you can mention the element
#copy - you can copy the list
#reverse - it will reverse the list of element 
#sort - it will arrange the element by asec , desc
#clear - clear the data

In [18]:
#append
list1=["chachu","vichu",24,89,67.00,"True","False"]
list1.append("hi")
print(list1)

['chachu', 'vichu', 24, 89, 67.0, 'True', 'False', 'hi']

In [19]:
#insert
list1=["chachu","vichu",24,89,67.00,"True","False"]
list1.insert(2,"fadal") #add the position and coma(,) a element
print(list1)

['chachu', 'vichu', 'fadal', 24, 89, 67.0, 'True', 'False']

In [20]:
#extend
list1=["chachu","vichu",24,89,67.00,"True","False"]
list2=["isha","nimmy",1,22,43]
list2.extend(list1)
print(list2)

['isha', 'nimmy', 1, 22, 43, 'chachu', 'vichu', 24, 89, 67.0, 'True', 'False']

In [21]:
#remove
list1=["chachu","vichu",24,89,67.00,"True","False"]
list2=["isha","nimmy",1,22,43]
list2.remove("isha") #remove any element
print(list2)

['nimmy', 1, 22, 43]

In [22]:
#pop
list1=["chachu","vichu",24,89,67.00,"True","False"]
list1.pop(2)   #remove the last element of the list
print(list1)

['chachu', 'vichu', 89, 67.0, 'True', 'False']

In [23]:
#copy
list1=["chachu","vichu",24,89,67.00,"True","False"]
list2=["isha","nimmy",1,22,43]
list3=list1.copy() #copy the list
print(list3)

['chachu', 'vichu', 24, 89, 67.0, 'True', 'False']

In [24]:
#REVERSE
list1=["chachu","vichu",24,89,67.00,"True","False"]
list1.reverse()
print(list1)

['False', 'True', 67.0, 89, 24, 'vichu', 'chachu']

In [25]:
#SORT
list1=["chachu","vichu",24,89,67.00,"True","False"]

list2=["isha","nimmy",1,22,43]

In [26]:
list1=[]
list = int(input("how many number you want to add"))

for i in range(list):
    element = input("enter the element{1+i}:")
    list1.append(element)

print(list1)

['1', 'isha']

In [27]:
#TUPLE - (),ordered,immutable
# in list we use [], but in tuple we use()

tuple1 = ("isha","nimmy",1,22,43)
print(tuple1[1:5])

#count,index
tuple1.count(43)
print(tuple1.count(43))

('nimmy', 1, 22, 43)
1

In [28]:
#if you need to add an element to tuple you need to covert tuple to list

In [29]:
#set - {}, it does't allow duplicates
#we couldn't perform the slicing
#There is no indexing
#unorder
#set methods - add,updats,discard,remove,pop
#if you use update methode use [] inside the ()
#in pop methode remove 1st element in the {}
#operations - union,interesection,differnce


set1={1,2,3,4,5,5,5}
set2={2,4,6,8}

result = set1.union({2,4,6,8})
print(set1)

{1, 2, 3, 4, 5}

In [30]:
#difference
print()

In [31]:
#the unique value
def unique_item(text):
    word=text.lower().split()
    unique_item= set (word)
    return len(unique_item)
unique_item("meera is a good girl but sometimes meera is a bad girl ")

8

In [32]:
#remove duplicates from the list
def remove_duplicates(nums):
    result=[]
    for i in nums:
        if i not in result:
            result.append(i)
    return result
list1=[1,1,1,2,3,4,5,6,6,7,8,8]
print(remove_duplicates(list1))

[1, 2, 3, 4, 5, 6, 7, 8]

In [33]:
#print word longer than 3letter from list
list1=["leo","meera","ram","sara","fadal"]
for i in list1:
    if len(i)>3:
        print(i)

meera
sara
fadal

In [34]:
L1=[25,10,"abhi",72.0]
print(L1[::])

[25, 10, 'abhi', 72.0]